[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "AmesHousing"]
	path = AmesHousing
	url = https://github.com/topepo/ameshousing
	shallow = true
	registered = true
[submodule "sparsediscrim"]
	path = sparsediscrim
	url = https://github.com/topepo/sparsediscrim
	shallow = true
	registered = true
[submodule "Cubist"]
	path = Cubist
	url = https://github.com/topepo/cubist
	shallow = true
	registered = true
[submodule "desirability"]
	path = desirability
	url = https://github.com/topepo/desirability
	shallow = true
	subdir = desirability
	registered = true
[submodule "caret"]
	path = caret
	url = https://github.com/topepo/caret
	shallow = true
	subdir = pkg/caret
	registered = true
[submodule "sparseLDA"]
	path = sparseLDA
	url = https://github.com/topepo/sparselda
	shallow = true
	subdir = pkg/sparseLDA
	registered = true
[submodule "C50"]
	path = C50
	url = https://github.com/topepo/c5.0
	shallow = true
	registered = true
